.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr ;
    padding: 10px;
    height:300px;
    width: 600px;
    margin:20px;
    gap: 5px;
    color: white;
    text-align: center;
 
}



.item1{
    background-color:lightskyblue;
    grid-column: 1/2;
    grid-row: 1;
    padding-top: 20%;
 
}
.item2{
    background-color:orangered;
    grid-column: 2/3;
    grid-row: 1;
    padding-top: 20%;
}
.item3{
    background-color:blue;
    grid-column: 3/4;
    grid-row: 1;
    padding-top: 20%;
}
.item4{
    background-color:yellow;
    grid-column: 1/2;
    grid-row: 2;
    padding-top: 20%;
}
.item5{
    background-color:purple;
    grid-column: 2/3;
    grid-row: 2;
    padding-top: 20%;
}
.item6{
    background-color:green;
    grid-column: 3/4;
    grid-row: 2;
    padding-top: 20%;
}
.item7{
    background-color:coral;
    grid-column: 1/2;
    grid-row: 3;
    padding-top: 20%;
}
.item8{
    background-color:seagreen;
    grid-column: 2/3;
    grid-row: 3;
    padding-top: 20%;
}
.item9{
    background-color:brown;
    grid-column: 3/4;
    grid-row: 3;
    padding-top: 20%;
}
@media(max-width:658px)
{
    .item1{
        background-color: navy;
    }
    .item2{
        background-color: navy;
    }
    .item3{
        background-color: navy;
    }
    .item4{
        background-color: navy;
    }
    .item5{
        background-color: navy;
    }
    .item6{
        background-color: navy;
    }
    .item7{
        background-color: navy;
    }
    .item8{
        background-color: navy;
    }
    .item9{
        background-color:navy;
    }
}