.body {
    margin: 0;
    height: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}
.box {
    width: 300px;
    height: 200px;
    background-color: aqua;
    color:navy ;
    font-family: monospace;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}